body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.font {
    font-size: 40px;
}

.donate-now {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-site {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;

}

.center-text {
    text-align: center;
}

.flex-content {
    display: flex;
    padding-left: 300px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 50px;
}

.box-shadow {
    width: 10%;
    height: 100px;
    margin-right: 5px;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}


.second-site {
    padding-top: 70px;
}

#border {
    border: 2px solid red;
    color: red;
}

input {
    width: 700px;
}

.donate-plan {
    padding-top: 70px;
    padding-left: 100px;
}

.flex-donate {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    text-align: center;
}

.plan-box {
    width: 30%;
    height: 300px;
    margin-right: 50px;
    box-shadow: 10px 10px 40px grey;
}

.nothing {
    padding-bottom: 20px;
    padding-top: 20px;
}

.contribute {
    padding-top: 150px;
    display: flex;
    padding-left: 100px;
}

.contribute img {
    padding-left: 150px;
    width: 70%;
}

.survive {
    display: flex;
    padding-top: 100PX;
}

.half-width {
    width: 50%;
}

.survive img {
    padding-left: 100px;
    width: 80%;
}

#survive-things {
    padding-left: 50px;
}